*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: lightslategray;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 10vh auto;
  width: 550px;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: darkgrey;
}

.header {
  margin: 1rem 2rem 2rem;
  color: darkslategrey;
}

input {
  width: 400px;
  padding: 0.5rem 2rem;
  font-size: 3.5rem;
  border-radius: 10px;
  text-align: right;
  background-color: lightgrey;
  color: darkgray;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 30px;
  margin: 0.5rem;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 10%;
  font-weight: 900;
  background-color: steelblue;
  color: darkslategray;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}